-   
    const statusMap = {
        "Pending" : {
            icon : "clock",
            color : "warning"
            },
        "Completed" : {
            icon : "check-cicle",
            color : "success"
        },
        "Missed" : {
            icon : "x-circle",
            color : "danger"
        }
    }


- 
    function formatAMPM(date) {
    var hours = date.getHours();
    var minutes = date.getMinutes();
    var ampm = hours >= 12 ? 'pm' : 'am';
    hours = hours % 12;
    hours = hours ? hours : 12; // the hour '0' should be '12'
    minutes = minutes < 10 ? '0'+minutes : minutes;
    var strTime = `${hours}:${minutes}${ampm} ${date.getDate()}/${date.getMonth()+1}/${date.getFullYear()}`;
    return strTime;
    }
- const fileUrl = `/dashboard/${user.club}/${subtask.task}/${subtask.slug}/file`;
.container.bg-white.mt-4.p-4.shadow
    .d-flex.justify-content-between.align-items-center
        p.h3= subtask.title
        if (user.role==='lead' || user.role==='coordinator')
            .d-flex.gap-2
                a.p-0.btn.btn-light.d-flex.align-middle(href=`/dashboard/${user.club}/${subtask.task}/${subtask.slug}/edit`) 
                    i.mb-0.w3.h3.ph-note-pencil.text-primary
                button.p-0.btn.btn-light.text-danger(data-bs-toggle="modal" data-bs-target=`#modal-${subtask.slug}`)
                    i.mb-0.w3.h3.ph-trash
    .d-flex.justify-content-between.gap-4
        p.d-flex.align-center.gap-1
            i.w4.h4(class = `ph-${statusMap[subtask.status].icon} text-${statusMap[subtask.status].color}`)
            span.fw-bold= subtask.status
        p
            b Deadline : 
            = formatAMPM(subtask.deadline)
    .container
        p.fs-4 #[span.fs-2= subtask.description[0]]#{subtask.description.slice(1)}
    .d-flex.justify-content-end
        p
            b Assignee :
            = ` ${subtask.asignee || 'None'}`
    hr.mt-0
    .d-flex.justify-content-between.align-items.center.flex-column.flex-sm-row
        if (subtask.file)
            p.fw-bold File : #[button.btn.btn-outline-primary(onclick=`downloadFile(event,"${fileUrl}")`) Download &darr;]
        else 
            p No File Found
        form(onsubmit=`uploadFile(event)` data-url=fileUrl)
            //- .form-label(for = `file-${subtask.slug}`) upload new file 
            .d-flex
                input.form-control(id=`file-${subtask.slug}` type="file" name="subtask_file")
                button.btn.btn-outline-primary(type="submit" class=`${subtask.asignee!==user.username?"disabled":""}`) upload

    .d-flex.gap-2.mt-2
        if (!subtask.asignee)
            button.btn.btn-secondary.col-6(onclick=`assignment(\"/dashboard/${user.club}/${subtask.task}/${subtask.slug}/assign\",${"true"})`) Assign me
        else if (subtask.asignee===user.username)
            button.btn.btn-secondary.col-6(onclick=`assignment(\"/dashboard/${user.club}/${subtask.task}/${subtask.slug}/unassign\",${"false"})`) Leave subtask
        else 
            button.btn.btn-secondary.col-6(disabled) Assign me
        button.btn.btn-secondary.atc-button.col-6 Add To Calendar
.modal(tabindex="-1" id=`modal-${subtask.slug}`)
    .modal-dialog.modal-dialog-centered
        .modal-content
            .modal-header
                h5.modal-title #{`Deleting Subtask : ${subtask.title}`}
                button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
            .modal-body
                .p Are you sure, you want to delete this?
            .modal-footer
                button.btn.btn-secondary(type="button" data-bs-dismiss="modal") No
                button.btn.btn-danger(type="button" onclick=`deleteByParam(\"/dashboard/${user.club}/${subtask.task}/${subtask.slug}\")`) Yes